@import "bootstrap/scss/bootstrap";

body {
    color: white;
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

a:visited {
    color: inherit;
}
a:active {
    color: inherit;
}

.jumbotron {
    background-color: black;
}

.center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
